@model bitproje.Entitys.Firma

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    dt {
        height: 28px;
    }
</style>
<div>
    <a asp-action="Menu" asp-route-id="1">Edit</a> |
</div>
<div>
    
</div>





