@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
</head>
<body>
    <br>
    <br>
    <br>
    <p style="text-align:center">  HOŞGELDİN ADMİN SAYFASINA  </p>

    <br>
    <p style="text-align:center">  İŞLEM YAPMAK İÇİN ÖNCELİKLE  &emsp; <a asp-action="Degis" asp-controller="Grup" style="font-size:20px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">FİRMA GRUBU SEÇMEK</a>  &emsp;  GEREKİYOR </p>
    <br>
    

</body>
</html>