<div>
    <ul class="nav navbar-left " style="background-color:honeydew;border-width:inherit;">
        <li class="nav-item">
            <a style="color:black;" asp-area="" asp-controller="Firma" asp-action="Index"><i class="fas fa-hand-pointer"></i>&nbsp;FİRMALAR</a>
        </li>
        <li class="nav-item">
            <a style="color:black;" asp-area="" asp-controller="Personel" asp-action="Index"><i class="fas fa-hand-pointer"></i>&nbsp;PERSONELLER</a>
        </li>
        <li class="nav-item">
            <a style="color:black;" asp-area="" asp-controller="Kullanici" asp-action="Index"><i class="fas fa-hand-pointer"></i>&nbsp;KULLANICILAR</a>
        </li>
      
    </ul>
</div>